.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Đảm bảo header luôn ở trên các phần tử khác */
    width: 100%; /* Đảm bảo header chiếm toàn bộ chiều rộng */
  }