.header {
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
    color: white;
    font-weight: 500;
  }
  
  .backgroundShadow {
    background-color: rgb(36, 174, 110);
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%;
    padding: 0 48px;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    justify-content: space-between;
  }
  
  .logoContainer {
      display: flex;
      align-items: center; /* căn giữa logo */
  }
  
  .img {
    aspect-ratio: 1; /* Thay đổi aspect-ratio cho phù hợp */
    object-fit: contain;
    object-position: center;
    align-self: stretch;
    margin: auto 0;
    flex-shrink: 0;
    max-width: 100%;
    width: 100px;
    height: 100px;
    margin-left: 50px;
  }
  
  
  .menuButton {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0; /* Loại bỏ padding mặc định của button */
  }
  
  
  .navigationItems {
      display: flex;
      align-items: center;
  }
  
  @media (max-width: 991px) {
    .backgroundShadow {
      max-width: 100%;
      padding: 0 20px;
    }
    .logoContainer {
      margin-right: auto; /* Đẩy logo sang trái khi màn hình nhỏ */
    }
    .navigationItems {
      flex-direction: column; /* sắp xếp menu theo cột */
      align-items: flex-end; /* căn chỉnh menu về bên phải */
    }
  }
  