.reset-password-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.reset-password-popup {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 24px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: relative;
}

.reset-password-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.reset-password-popup-icon {
  width: 64px;
  height: 64px;
}

.reset-password-popup-icon.success {
  color: #26982a;
}

.reset-password-popup-icon.error {
  color: #F44336;
}

.reset-password-popup-content p {
  font-size: 18px;
  color: #333;
  margin: 0;
}

.reset-password-popup-close-button {
  margin-top: 16px;
  padding: 10px 20px;
  background-color: #2b8b59;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-password-popup-close-button:hover {
  background-color: #e0e0e0;
}

.reset-password-popup.reset-password-success {
  border-top: 4px solid #4CAF50;
}

.reset-password-popup.reset-password-error {
  border-top: 4px solid #F44336;
}



.reset-password-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 900px;
  margin: 50px auto;
}

.reset-password-container {
  flex: 1;
  max-width: 400px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
}

.reset-password-input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 16px;
}

.reset-password-button {
  width: 100%;
  padding: 12px;
  background-color: #24ae6e;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.reset-password-button:hover {
  background-color: #2b8b59;
}

.reset-password-error {
  color: #f44336;
  font-size: 14px;
  margin-top: 10px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right img {
  max-width: 80%;
  height: auto;
  max-height: 300px;
}


.reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reset-password-back-button {
  background: none;
  border: none;
  color: #24ae6e;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 20px;
}

.reset-password-back-button:hover {
  color: #2b8b59;
  text-decoration: underline;
}
