.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover; /* Đảm bảo ảnh nền phủ toàn bộ màn hình */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Giữ ảnh nền cố định khi cuộn trang */
    padding: 0 20px;
  
  }
  /* Đảm bảo nền phủ toàn màn hình */
  /* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2e7d32; /* Màu xanh lá đậm */
  /* } */ */
  .card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 20px;
  }
  
  .title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: #333;
  }
  
  .text-center {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .form-group {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  textarea.form-group {
    resize: vertical;
    height: 120px;
  }
  
  .button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .button:hover:not(:disabled) {
    background-color: #45a049;
  }
  
  .home-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 12px 20px;
    background-color: #229213;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .home-button:hover {
    background-color: #9af2b9;
  }
  
  .contact-info {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  .contact-info h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .info-item i {
    margin-right: 15px;
    font-size: 22px;
    color: #1d8522; /* Màu của icon */
  }
  
  .info-item span {
    font-size: 16px;
    color: #333;
  }
  
  .info-item i:hover {
    color: #20b677; /* Màu thay đổi khi hover vào icon */
  }
  
  
  .error{
    color:red;
  }